<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
	<fieldset>
		<legend>Enter User Details</legend>
  <p>
    <%= f.label :nick_name %><br />
    <%= f.text_field :nick_name %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :sur_name %><br />
    <%= f.text_field :sur_name %>
  </p>
  <p>
    <%= f.label :user_password, 'Password' %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :user_password_confirmation, 'Confirm' %><br />
    <%= f.password_field :password_confirmation%>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>