<p>
  <b>Title:</b>
  <%=h @product.title %>
</p>
		<%= image_tag(@product.picture.first.public_filename) %>
<p>
  <b>Description:</b>
  <%= @product.description %>
</p>


<p>
	<b>Price</b>
	<%= @product.price %>
</p>

<%= link_to 'ImageGallery', product_pictures_path(@product) %>
<%= link_to 'Edit', edit_product_path(@product) %> |

